# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Star Defence.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\UnityProjects\Star Defence\.idea\.idea.Star Defence\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
